.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 5rem;
}
.display-2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f4623a !important;
}
.bg-success {
  background-color: #a6a99c !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #f7f7f7 !important;
}
.bg-danger {
  background-color: #edefeb !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f4623a !important;
  border-color: #f4623a !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #f7886a !important;
  border-color: #f7886a !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f7886a !important;
  border-color: #f7886a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success,
.btn-success:active {
  background-color: #a6a99c !important;
  border-color: #a6a99c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #bfc1b7 !important;
  border-color: #bfc1b7 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #bfc1b7 !important;
  border-color: #bfc1b7 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
  color: #787878 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #787878 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #edefeb !important;
  border-color: #edefeb !important;
  color: #6e7a61 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6e7a61 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f4623a;
  color: #f4623a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #cc350b !important;
  background-color: transparent !important;
  border-color: #cc350b !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f4623a !important;
  border-color: #f4623a !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #a6a99c;
  color: #a6a99c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #7c806f !important;
  background-color: transparent !important;
  border-color: #7c806f !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #a6a99c !important;
  border-color: #a6a99c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #f7f7f7;
  color: #f7f7f7;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #cccccc !important;
  background-color: transparent !important;
  border-color: #cccccc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #787878 !important;
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #edefeb;
  color: #edefeb;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #c2c8bb !important;
  background-color: transparent !important;
  border-color: #c2c8bb !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6e7a61 !important;
  background-color: #edefeb !important;
  border-color: #edefeb !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f4623a !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #a6a99c !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #f7f7f7 !important;
}
.text-danger {
  color: #edefeb !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #bd310b !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #747768 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #c4c4c4 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #bac2b2 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f4623a;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #f7f7f7;
}
.alert-danger {
  background-color: #edefeb;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f4623a;
  border-color: #f4623a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f4623a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fffcfb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e3e4e0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f4623a !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #f4623a;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f4623a;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f4623a;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f4623a;
  border-bottom-color: #f4623a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #f4623a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f4623a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-u4s9LBPKyL {
  z-index: 1000;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-u4s9LBPKyL {
    flex-wrap: wrap;
  }
  .cid-u4s9LBPKyL .navbar > .container {
    flex-wrap: nowrap;
  }
}
@media (max-width: 992px) {
  .cid-u4s9LBPKyL .opened .container {
    flex-wrap: wrap;
  }
}
.cid-u4s9LBPKyL .opened .container .navbar-collapse {
  width: 100%;
}
.cid-u4s9LBPKyL .btn {
  padding: 0.3rem 2rem;
}
.cid-u4s9LBPKyL .nav-link {
  position: relative;
}
.cid-u4s9LBPKyL .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  transition: all 0.3s;
  background: #f4623a;
}
.cid-u4s9LBPKyL .nav-link:hover:before {
  width: 100%;
}
.cid-u4s9LBPKyL nav.navbar {
  position: fixed;
}
.cid-u4s9LBPKyL .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u4s9LBPKyL .dropdown-menu {
  padding: 0;
  border-radius: 0px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-u4s9LBPKyL .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-u4s9LBPKyL .dropdown-item:hover,
.cid-u4s9LBPKyL .dropdown-item:focus {
  background: #f4623a !important;
  color: white !important;
}
.cid-u4s9LBPKyL .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-u4s9LBPKyL .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-u4s9LBPKyL .nav-dropdown .link {
  padding: 0 !important;
  margin: 0.667em 1em !important;
}
.cid-u4s9LBPKyL .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-u4s9LBPKyL .container {
  display: flex;
  margin: auto;
}
.cid-u4s9LBPKyL .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u4s9LBPKyL .dropdown-menu,
.cid-u4s9LBPKyL .navbar.opened {
  background: #a6a99c !important;
}
.cid-u4s9LBPKyL .nav-item:focus,
.cid-u4s9LBPKyL .nav-link:focus {
  outline: none;
}
.cid-u4s9LBPKyL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u4s9LBPKyL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u4s9LBPKyL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u4s9LBPKyL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u4s9LBPKyL .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u4s9LBPKyL .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u4s9LBPKyL .navbar-short {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #a6a99c !important;
  transition: all 0.3s;
}
.cid-u4s9LBPKyL .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(166, 169, 156, 0);
}
.cid-u4s9LBPKyL .navbar.opened {
  transition: all 0.3s;
}
.cid-u4s9LBPKyL .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u4s9LBPKyL .navbar .navbar-logo img {
  width: auto;
}
.cid-u4s9LBPKyL .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
  flex-basis: auto!important;
}
.cid-u4s9LBPKyL .navbar.collapsed {
  justify-content: center;
}
.cid-u4s9LBPKyL .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u4s9LBPKyL .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-u4s9LBPKyL .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u4s9LBPKyL .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u4s9LBPKyL .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u4s9LBPKyL .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u4s9LBPKyL .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u4s9LBPKyL .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-u4s9LBPKyL .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u4s9LBPKyL .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u4s9LBPKyL .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u4s9LBPKyL .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u4s9LBPKyL .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u4s9LBPKyL .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-u4s9LBPKyL .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-u4s9LBPKyL .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u4s9LBPKyL .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-u4s9LBPKyL .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u4s9LBPKyL .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u4s9LBPKyL .navbar.navbar-short {
  min-height: 60px;
}
.cid-u4s9LBPKyL .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-u4s9LBPKyL .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-u4s9LBPKyL .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u4s9LBPKyL .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u4s9LBPKyL .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u4s9LBPKyL .dropdown-item.active,
.cid-u4s9LBPKyL .dropdown-item:active {
  background-color: transparent;
}
.cid-u4s9LBPKyL .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u4s9LBPKyL .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u4s9LBPKyL .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u4s9LBPKyL .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #a6a99c;
}
.cid-u4s9LBPKyL .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-u4s9LBPKyL .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-u4s9LBPKyL ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u4s9LBPKyL .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-u4s9LBPKyL button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u4s9LBPKyL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-u4s9LBPKyL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u4s9LBPKyL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u4s9LBPKyL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u4s9LBPKyL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u4s9LBPKyL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u4s9LBPKyL nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u4s9LBPKyL nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u4s9LBPKyL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u4s9LBPKyL .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-u4s9LBPKyL a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u4s9LBPKyL .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u4s9LBPKyL .navbar {
    height: 70px;
  }
  .cid-u4s9LBPKyL .navbar.opened {
    height: auto;
  }
  .cid-u4s9LBPKyL .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ugVgmwX3s5 {
  padding-top: 7rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/fondo-home.webp");
}
.cid-ugVgmwX3s5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugVgmwX3s5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugVgmwX3s5 .container-fluid {
  padding: 0 80px;
}
@media (max-width: 992px) {
  .cid-ugVgmwX3s5 .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-ugVgmwX3s5 .container {
    padding: 0 24px;
  }
}
.cid-ugVgmwX3s5 .title-wrapper .mbr-emoji {
  margin-bottom: 0;
}
.cid-ugVgmwX3s5 .title-wrapper .mbr-section-title {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-ugVgmwX3s5 .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-ugVgmwX3s5 .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-ugVgmwX3s5 .title-wrapper .mbr-section-btn {
  margin-top: 64px;
}
@media (max-width: 992px) {
  .cid-ugVgmwX3s5 .title-wrapper .mbr-section-btn {
    margin-top: 32px;
  }
}
.cid-ugVgmwX3s5 .mbr-section-title {
  color: #262642;
}
.cid-ugVgmwX3s5 .mbr-text {
  color: #FF3399;
  text-align: center;
}
.cid-ugVgmwX3s5 .mbr-section-title,
.cid-ugVgmwX3s5 .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-ugVgmwX3s5 .mbr-emoji {
  text-align: right;
}
.cid-ugVgmwX3s5 .mbr-text,
.cid-ugVgmwX3s5 .mbr-section-btn {
  color: #ffffff;
}
#custom-html-1m {
  /* Type valid CSS here */
}
#custom-html-1m div {
  padding: 0px 0;
  color: #777;
  text-align: center;
}
#custom-html-1m p {
  font-size: 60px;
  color: #777;
}
.cid-ugVhTlXlkj {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f4623a;
  overflow: hidden;
}
.cid-ugVh2IuALs .navbar-dropdown {
  position: relative !important;
}
.cid-ugVh2IuALs .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ugVh2IuALs .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-ugVh2IuALs .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-ugVh2IuALs .dropdown-item:hover,
.cid-ugVh2IuALs .dropdown-item:focus {
  background: #f4623a !important;
  color: white !important;
}
.cid-ugVh2IuALs .dropdown-item:hover span {
  color: white;
}
.cid-ugVh2IuALs .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ugVh2IuALs .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ugVh2IuALs .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em .5em !important;
}
.cid-ugVh2IuALs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-ugVh2IuALs .nav-link {
  position: relative;
}
.cid-ugVh2IuALs .nav-link:hover,
.cid-ugVh2IuALs .nav-link:focus {
  color: #89AEB3 !important;
}
.cid-ugVh2IuALs .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-ugVh2IuALs .container {
    flex-wrap: nowrap;
  }
}
.cid-ugVh2IuALs .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ugVh2IuALs .navbar-caption {
  font-weight: 400;
}
.cid-ugVh2IuALs .dropdown-menu,
.cid-ugVh2IuALs .navbar.opened {
  background: #ffffff !important;
}
.cid-ugVh2IuALs .nav-item:focus,
.cid-ugVh2IuALs .nav-link:focus {
  outline: none;
}
.cid-ugVh2IuALs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ugVh2IuALs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ugVh2IuALs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ugVh2IuALs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ugVh2IuALs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ugVh2IuALs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ugVh2IuALs .navbar {
  min-height: 63px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-ugVh2IuALs .navbar.opened {
  transition: all 0.3s;
}
.cid-ugVh2IuALs .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ugVh2IuALs .navbar .navbar-logo img {
  width: auto;
}
.cid-ugVh2IuALs .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ugVh2IuALs .navbar.collapsed {
  justify-content: center;
}
.cid-ugVh2IuALs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ugVh2IuALs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-ugVh2IuALs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ugVh2IuALs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ugVh2IuALs .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ugVh2IuALs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ugVh2IuALs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ugVh2IuALs .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ugVh2IuALs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ugVh2IuALs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ugVh2IuALs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ugVh2IuALs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ugVh2IuALs .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ugVh2IuALs .navbar .navbar-logo img {
    height: 2rem !important;
  }
  .cid-ugVh2IuALs .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-ugVh2IuALs .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ugVh2IuALs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ugVh2IuALs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ugVh2IuALs .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-ugVh2IuALs .navbar.navbar-short {
  min-height: 60px;
}
.cid-ugVh2IuALs .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ugVh2IuALs .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ugVh2IuALs .navbar-brand {
  min-height: 63px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ugVh2IuALs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ugVh2IuALs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ugVh2IuALs .dropdown-item.active,
.cid-ugVh2IuALs .dropdown-item:active {
  background-color: transparent;
}
.cid-ugVh2IuALs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ugVh2IuALs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ugVh2IuALs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ugVh2IuALs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ugVh2IuALs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ugVh2IuALs .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ugVh2IuALs ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ugVh2IuALs .navbar-buttons {
  text-align: center;
}
.cid-ugVh2IuALs .navbar-buttons .btn {
  font-weight: 400;
  margin: 0;
  padding: 6px 12px;
  border-radius: 0 !important;
}
.cid-ugVh2IuALs .navbar-buttons .btn:hover {
  color: #89AEB3 !important;
}
.cid-ugVh2IuALs button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ugVh2IuALs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-ugVh2IuALs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ugVh2IuALs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ugVh2IuALs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ugVh2IuALs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ugVh2IuALs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ugVh2IuALs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ugVh2IuALs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ugVh2IuALs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ugVh2IuALs .navbar-dropdown {
  padding: 0 1rem;
}
.cid-ugVh2IuALs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ugVh2IuALs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-ugVh2IuALs .icons-menu .iconfont-wrapper {
  padding-right: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ugVh2IuALs .navbar {
    height: 63px;
  }
  .cid-ugVh2IuALs .navbar.opened {
    height: auto;
  }
  .cid-ugVh2IuALs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ugVh2IuALs .btn {
  box-shadow: none !important;
  border-radius: 0 !important;
  font-weight: 400;
}
.cid-ugVe7TWLb8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/fondo-home.webp");
}
.cid-ugVe7TWLb8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugVe7TWLb8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugVe7TWLb8 .container-fluid {
  padding: 0 80px;
}
@media (max-width: 992px) {
  .cid-ugVe7TWLb8 .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-ugVe7TWLb8 .container {
    padding: 0 24px;
  }
}
.cid-ugVe7TWLb8 .title-wrapper .mbr-emoji {
  margin-bottom: 0;
}
.cid-ugVe7TWLb8 .title-wrapper .mbr-section-title {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-ugVe7TWLb8 .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-ugVe7TWLb8 .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-ugVe7TWLb8 .title-wrapper .mbr-section-btn {
  margin-top: 64px;
}
@media (max-width: 992px) {
  .cid-ugVe7TWLb8 .title-wrapper .mbr-section-btn {
    margin-top: 32px;
  }
}
.cid-ugVe7TWLb8 .mbr-section-title {
  color: #262642;
}
.cid-ugVe7TWLb8 .mbr-text {
  color: #FF3399;
  text-align: center;
}
.cid-ugVe7TWLb8 .mbr-section-title,
.cid-ugVe7TWLb8 .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-ugVe7TWLb8 .mbr-emoji {
  text-align: right;
}
.cid-ugVe7TWLb8 .mbr-text,
.cid-ugVe7TWLb8 .mbr-section-btn {
  color: #ffffff;
}
.cid-ugVe7Vt6ai {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ugVe7Vt6ai .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugVe7Vt6ai .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugVe7Vt6ai .mbr-description {
  text-align: left;
}
.cid-ugVe7Vt6ai .item-wrapper {
  background: #ffffff;
  padding: 2.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .cid-ugVe7Vt6ai .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ugVe7Vt6ai .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-ugVe7Vt6ai .card-title,
.cid-ugVe7Vt6ai .iconfont-wrapper {
  color: #000000;
}
.cid-ugVe7Vt6ai .card-text {
  color: #000000;
}
.cid-ugVe7Vt6ai .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-ugVe7Vt6ai .mbr-number {
  color: #9fe870;
}
.cid-ugVe7Vt6ai .mbr-text,
.cid-ugVe7Vt6ai .mbr-section-btn {
  text-align: center;
}
.cid-ugVe7Vt6ai .card-text,
.cid-ugVe7Vt6ai .item .mbr-section-btn {
  text-align: left;
}
.cid-ugVe7Vt6ai .mbr-section-btn {
  margin-top: 1rem;
}
.cid-ugVe7Vt6ai .image-wrapper {
  margin-bottom: 0rem;
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-ugVe7Vt6ai .image-wrapper {
    padding: 0rem 0rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ugVe7Vt6ai .image-wrapper {
    padding: 0rem 0rem;
    margin-bottom: 0rem;
  }
}
.cid-ugVe7Vt6ai .image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-ugVe7Vt6ai .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ugVe7Vt6ai .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-ugVe7Vt6ai .card-title {
  text-align: left;
}
.cid-ugVe7Vt6ai .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-ugVe7Vt6ai .item-content .item-footer {
  margin-top: auto;
}
.cid-ugVe7WPQCn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f4623a;
}
.cid-ugVe7WPQCn .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugVe7WPQCn .item-wrapper {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .cid-ugVe7WPQCn .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-ugVe7WPQCn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugVe7WPQCn .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: #f4623a;
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 80px;
  border-radius: 50%;
}
.cid-ugVe7WPQCn .card-title,
.cid-ugVe7WPQCn .iconfont-wrapper,
.cid-ugVe7WPQCn .card-text {
  color: #000000;
  text-align: center;
}
.cid-ugVe7WPQCn .content-head {
  max-width: 800px;
}
.cid-ugVe7WPQCn .mbr-section-title {
  color: #ffffff;
}
.cid-ugVe7WPQCn .mbr-section-btn {
  text-align: center;
}
.cid-ugVe7WPQCn .card-title,
.cid-ugVe7WPQCn .iconfont-wrapper {
  color: #ffffff;
}
.cid-ugVe7WPQCn .card-text,
.cid-ugVe7WPQCn .mbr-section-btn {
  color: #ffffff;
}
.cid-ugVe7Y1D5b {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ugVe7Y1D5b img,
.cid-ugVe7Y1D5b .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-ugVe7Y1D5b .item:focus,
.cid-ugVe7Y1D5b span:focus {
  outline: none;
}
.cid-ugVe7Y1D5b .item-wrapper {
  position: relative;
}
.cid-ugVe7Y1D5b .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ugVe7Y1D5b .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ugVe7Y1D5b .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-ugVe7Y1D5b .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ugVe7Y1D5b .mbr-section-title {
  color: #232323;
}
.cid-ugVe7Y1D5b .mbr-text,
.cid-ugVe7Y1D5b .mbr-section-btn {
  text-align: left;
}
.cid-ugVe7Y1D5b .item-title {
  text-align: left;
}
.cid-ugVe7Y1D5b .item-subtitle {
  text-align: left;
}
.cid-ugVe7Y1D5b .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-ugVe7Y1D5b .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-ugVe7Y1D5b .embla__button--next,
.cid-ugVe7Y1D5b .embla__button--prev {
  display: flex;
}
.cid-ugVe7Y1D5b .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-ugVe7Y1D5b .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-ugVe7Y1D5b .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-ugVe7Y1D5b .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ugVe7Y1D5b .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ugVe7Y1D5b .embla__button {
    top: auto;
  }
}
.cid-ugVe7Y1D5b .embla {
  position: relative;
  width: 100%;
}
.cid-ugVe7Y1D5b .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-ugVe7Y1D5b .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-ugVe7Y1D5b .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-ugVe7Y1D5b .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-ugVe7ZKR7e {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f4623a;
}
.cid-ugVe7ZKR7e .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ugVe7ZKR7e .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-ugVe7ZKR7e .item-head {
  background: #ffffff;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ugVe7ZKR7e .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ugVe7ZKR7e .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-ugVe7ZKR7e .item-content {
  padding: 2.25rem 2.25rem 0;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ugVe7ZKR7e .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-ugVe7ZKR7e .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-ugVe7ZKR7e .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-ugVe7ZKR7e .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ugVe7ZKR7e .item-wrapper .item-footer {
    padding: 0 1.5rem 3rem;
  }
}
@media (min-width: 1201px) {
  .cid-ugVe7ZKR7e .item-wrapper .item-footer {
    padding: 0 2rem 3rem;
  }
}
.cid-ugVe7ZKR7e .btn {
  width: -webkit-fill-available;
}
.cid-ugVe7ZKR7e .item:focus,
.cid-ugVe7ZKR7e span:focus {
  outline: none;
}
.cid-ugVe7ZKR7e .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-ugVe7ZKR7e .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ugVe7ZKR7e .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-ugVe7ZKR7e .mbr-section-title {
  color: #ffffff;
}
.cid-ugVe7ZKR7e .mbr-section-subtitle {
  color: #ffffff;
}
.cid-ugVe7ZKR7e .mbr-text,
.cid-ugVe7ZKR7e .mbr-section-btn {
  text-align: left;
}
.cid-ugVe7ZKR7e .item-title {
  text-align: left;
  color: #000000;
}
.cid-ugVe7ZKR7e .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-ugVe7ZKR7e .content-head {
  max-width: 800px;
}
.cid-ugVe7ZKR7e .counter-container ul {
  margin: 0;
  padding-left: 2.25rem;
  list-style: none;
}
.cid-ugVe7ZKR7e .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
}
.cid-ugVe7ZKR7e .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9fe870;
  background-color: #9fe870;
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-ugVe7ZKR7e .counter-container ul li {
  margin-bottom: 1rem;
}
.cid-ugVe7ZKR7e .mbr-text UL {
  text-align: left;
}
#custom-html-1c {
  /* Type valid CSS here */
  /* Then style the iframe to fit in the container div with full height and width */
}
#custom-html-1c .container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 10%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
#custom-html-1c .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.cid-ugVe8285o1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f4623a;
}
.cid-ugVe8285o1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugVe8285o1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugVe8285o1 .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ugVe8285o1 .item-mb {
    margin-bottom: 0;
  }
}
.cid-ugVe8285o1 .item-wrapper {
  background: #ffffff;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ugVe8285o1 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-ugVe8285o1 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-ugVe8285o1 .mbr-iconfont {
  display: inline-flex;
  font-size: 3rem;
  color: #f4623a;
  margin-bottom: 1rem;
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 80px;
  border-radius: 50%;
}
.cid-ugVe8285o1 .mbr-section-title {
  color: #ffffff;
}
.cid-ugVe8285o1 .mbr-section-subtitle {
  color: #232323;
}
.cid-ugVe8285o1 .card-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-ugVe8285o1 .card-box .item-footer {
  margin-top: auto;
}
.cid-ugVe8285o1 .content-head {
  max-width: 800px;
}
.cid-ugVe84VoeE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f4623a;
}
.cid-ugVe84VoeE .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #f4623a;
  margin-bottom: 2rem;
}
.cid-ugVe84VoeE .card-wrapper {
  border-radius: 2rem;
  transition: all 0.3s;
  padding: 3rem;
  background: #ffffff;
}
.cid-ugVe84VoeE .card-wrapper:hover {
  box-shadow: 0 50px 50px -25px rgba(0, 0, 0, 0.3);
  transform: rotate(-2deg) scale(1.03);
}
@media (max-width: 992px) {
  .cid-ugVe84VoeE .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ugVe84VoeE .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-ugVe84VoeE .mbr-text {
  color: #696969;
}
.cid-ugVe84VoeE .mbr-section-subtitle {
  color: #ffffff;
}
.cid-ugVe84VoeE .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugVe84VoeE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugVe84VoeE .mbr-section-title {
  color: #ffffff;
}
.cid-ugVe86atiJ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ugVe86atiJ .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-ugVe86atiJ .social-row .soc-item {
  margin: 8px;
}
.cid-ugVe86atiJ .social-row .soc-item a:hover .mbr-iconfont,
.cid-ugVe86atiJ .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-ugVe86atiJ .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: #a6a99c;
  transition: all 0.3s ease-in-out;
}
.cid-ugVe86atiJ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-ugVe86atiJ .mbr-section-title {
  color: #ffffff;
}
.cid-ugVe86atiJ .mbr-section-title,
.cid-ugVe86atiJ .social-list {
  color: #000000;
}
.cid-ugVhTlXlkj {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f4623a;
  overflow: hidden;
}
